unpackaged/main/default/flows/Delete_Draft_Article_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_Current_Tab</name>
        <label>Close Current Tab</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>c:CloseTab</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Delete_Action</name>
        <label>Delete Action</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>deleteKnowledgeArticles</actionName>
        <actionType>deleteKnowledgeArticles</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>articleVersionIdList</name>
            <value>
                <elementReference>RecId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddtoCollection</name>
        <label>AddtoCollection</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RecId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CWR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Duplicate</name>
        <choiceText>Duplicate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate</stringValue>
        </value>
    </choices>
    <choices>
        <name>FirmwareEOL</name>
        <choiceText>Firmware EOL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Firmware EOL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Obsolete</name>
        <choiceText>Obsolete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Obsolete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProductEOL</name>
        <choiceText>Product EOL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product EOL</stringValue>
        </value>
    </choices>
    <choices>
        <name>SoftwareEOL</name>
        <choiceText>Software EOL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software EOL</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_Deletion</name>
        <label>Check For Deletion</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Delete</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record.ValidationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record.Version_CreatedBy__r.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Record.Original_Author_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddtoCollection</targetReference>
            </connector>
            <label>To Delete</label>
        </rules>
    </decisions>
    <interviewLabel>Delete Draft Article Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Draft Article Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CWR</name>
        <label>Create CWR</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Delete_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>Article_ID__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Get_Record.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosure_Level__c</field>
            <value>
                <elementReference>Get_Record.GSD_KM_Issue_Solution_Disclosure_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Article_link__c</field>
            <value>
                <elementReference>Get_Record.ArticleNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DeleteCWRRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>4-Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Content_Work_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record</name>
        <label>Get Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Deletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Delete Draft Request</description>
        <name>Delete_Draft_Request</name>
        <label>Delete Draft Request</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record</targetReference>
        </connector>
        <fields>
            <name>Delete_Draft_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Delete_Draft_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Deletion</name>
                    <choiceReferences>ProductEOL</choiceReferences>
                    <choiceReferences>FirmwareEOL</choiceReferences>
                    <choiceReferences>SoftwareEOL</choiceReferences>
                    <choiceReferences>Obsolete</choiceReferences>
                    <choiceReferences>Duplicate</choiceReferences>
                    <choiceReferences>Others</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Deletion</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Reason_for_Deletion</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Others</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;You can raise a request to Delete your Draft&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rollback</targetReference>
        </connector>
        <fields>
            <name>ErrorMesaage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 15, 15); font-size: 14px;&quot;&gt;You Cannot Delete this Article, Please contact the Admin Or Blast Team for Support&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_Current_Tab</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(39, 192, 18); font-size: 14px;&quot;&gt;You have successfully deleted your Draft Article! &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Draft_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeleteCWRRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0124C0000005U49QAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>DelRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0124C0000005UOzQAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>Kav</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NavigationUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>/lightning/o/Knowledge__kav/list?filterName=Recent</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
